.box{
    height: 400px;
    width: 400px;
    background-color: tomato;
    margin: 100px auto; 
    /*transition-property: width ;
    transition-delay:1s;
    transition-duration: 0.5s;
    transition-timing-function: cubic-bezier(cubic-bezier(.38,.92,.89,.06));
    */
    transition: all 0.5s linear;
}
.box:hover{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background-color: green;
    transform: rotate(180deg);
}